node-red/flows.json
[
    {
        "id": "c0ad280f2a406602",
        "type": "tab",
        "label": "Tone Detector",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "339d223dd3f06b96",
        "type": "tab",
        "label": "Log Units",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0da004d3b02fc52a",
        "type": "tab",
        "label": "Log Calls",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b1bc9b62280884fb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "85cdec81b5aa80f0",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "850761b4eea228c1",
        "type": "sqlitedb",
        "db": "/app/unitfiles/units.db",
        "mode": "RWC"
    },
    {
        "id": "0a08bcbd3294041f",
        "type": "mqtt in",
        "z": "c0ad280f2a406602",
        "name": "Call End",
        "topic": "trunkrecorder/status/call_end",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "85cdec81b5aa80f0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 140,
        "wires": [
            [
                "cdf0adc2ed4112a5",
                "a36346d05aed60d0",
                "42ac89d733c38732"
            ]
        ]
    },
    {
        "id": "cdf0adc2ed4112a5",
        "type": "file in",
        "z": "c0ad280f2a406602",
        "name": "",
        "filename": "payload.call.call_filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 280,
        "y": 100,
        "wires": [
            [
                "4e6e086b5b2fb3d9"
            ]
        ]
    },
    {
        "id": "a36346d05aed60d0",
        "type": "change",
        "z": "c0ad280f2a406602",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "call_data",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 180,
        "wires": [
            [
                "efc95277a64a265f"
            ]
        ]
    },
    {
        "id": "4e6e086b5b2fb3d9",
        "type": "function",
        "z": "c0ad280f2a406602",
        "name": "format file payload for merge",
        "func": "var buffer = msg.payload;\ntmp = msg;\ntmp.payload = {};\ntmp.payload.file = buffer;\ntmp.topic = \"files\";\nreturn tmp;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 100,
        "wires": [
            [
                "e2ec0d7c97a64d76"
            ]
        ]
    },
    {
        "id": "71b1a77d3b8f4403",
        "type": "debug",
        "z": "c0ad280f2a406602",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 180,
        "wires": []
    },
    {
        "id": "e2ec0d7c97a64d76",
        "type": "join",
        "z": "c0ad280f2a406602",
        "name": "merge",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 740,
        "y": 140,
        "wires": [
            [
                "f0be0a71c09accf4"
            ]
        ]
    },
    {
        "id": "efc95277a64a265f",
        "type": "function",
        "z": "c0ad280f2a406602",
        "name": "format call payload for merge",
        "func": "var call = msg.payload.call\nmsg.payload = call;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 180,
        "wires": [
            [
                "e2ec0d7c97a64d76",
                "c6f6af57627c70a9"
            ]
        ]
    },
    {
        "id": "b8b50278c24253a7",
        "type": "http request",
        "z": "c0ad280f2a406602",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://tone-detector:8002/tone_detect",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1090,
        "y": 140,
        "wires": [
            [
                "ea6eef795927cbac",
                "3a2945a20aad22ad"
            ]
        ]
    },
    {
        "id": "ea6eef795927cbac",
        "type": "debug",
        "z": "c0ad280f2a406602",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 100,
        "wires": []
    },
    {
        "id": "f0be0a71c09accf4",
        "type": "function",
        "z": "c0ad280f2a406602",
        "name": "build request",
        "func": "msg.headers = {};\nmsg.headers['Content-Type'] = 'multipart/form-data';\nmsg.headers['Accept'] = 'application/json';\nmsg.payload = {\n    \"freq\": msg.payload.call_data.freq,\n    \"start_time\": msg.payload.call_data.start_time,\n    \"stop_time\": msg.payload.call_data.stop_time,\n    \"timestamp\": msg.payload.call_data.start_time,\n    \"emergency\": msg.payload.call_data.emergency,\n    \"encrypted\": msg.payload.call_data.encrypted,\n    \"call_length\": msg.payload.call_data.length,\n    \"talkgroup\": msg.payload.call_data.talkgroup,\n    \"talkgroup_tag\": msg.payload.call_data.talkgroup_alpha_tag,\n    \"talkgroup_description\": msg.payload.call_data.talkgroup_description,\n    \"talkgroup_group_tag\": msg.payload.call_data.talkgroup_tag,\n    \"talkgroup_group\": msg.payload.call_data.talkgroup_group,\n    \"audio_type\": msg.payload.call_data.audio_type,\n    \"short_name\": msg.payload.call_data.sys_name,\n    \"file\": {\n        \"value\": msg.payload.files.file,\n        \"options\": {\n            \"filename\": msg.filename\n        }\n    }\n}\nreturn msg;\n\n/*\n\n{\n    \"freq\": 483125000,\n    \"start_time\": 1703806824,\n    \"stop_time\": 1703806838,\n    \"emergency\": 0,\n    \"priority\": 0,\n    \"mode\": 0,\n    \"duplex\": 0,\n    \"encrypted\": 0,\n    \"call_length\": 13,\n    \"talkgroup\": 1,\n    \"talkgroup_tag\": \"Westford Police\",\n    \"talkgroup_description\": \"\",\n    \"talkgroup_group_tag\": \"\",\n    \"talkgroup_group\": \"\",\n    \"audio_type\": \"analog\",\n    \"short_name\": \"westford\",\n    \"freqList\": [\n        {\n            \"freq\": 483125000,\n            \"time\": 1703806824,\n            \"pos\": 0.0,\n            \"len\": 13.33,\n            \"error_count\": \"0\",\n            \"spike_count\": \"0\"\n        }\n    ],\n    \"srcList\": [\n        {\n            \"src\": 4134,\n            \"time\": 1703806824,\n            \"pos\": 0.0,\n            \"emergency\": 0,\n            \"signal_system\": \"\",\n            \"tag\": \"\"\n        }\n    ]\n}\n\n*/",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 140,
        "wires": [
            [
                "b8b50278c24253a7",
                "71b1a77d3b8f4403"
            ]
        ]
    },
    {
        "id": "3a2945a20aad22ad",
        "type": "link out",
        "z": "c0ad280f2a406602",
        "name": "Tone Data Out",
        "mode": "link",
        "links": [
            "14a9170f864c715a",
            "d83283b014682dbe"
        ],
        "x": 1225,
        "y": 140,
        "wires": []
    },
    {
        "id": "42ac89d733c38732",
        "type": "debug",
        "z": "c0ad280f2a406602",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 140,
        "wires": []
    },
    {
        "id": "c6f6af57627c70a9",
        "type": "link out",
        "z": "c0ad280f2a406602",
        "name": "Call Data Out",
        "mode": "link",
        "links": [
            "8f3e7d830c57b049"
        ],
        "x": 695,
        "y": 180,
        "wires": []
    },
    {
        "id": "6e483ea1f3201054",
        "type": "mqtt in",
        "z": "339d223dd3f06b96",
        "name": "Call End",
        "topic": "trunkrecorder/status/call_end",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "85cdec81b5aa80f0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 860,
        "wires": [
            [
                "0d6d0bb7607bd759"
            ]
        ]
    },
    {
        "id": "0d6d0bb7607bd759",
        "type": "debug",
        "z": "339d223dd3f06b96",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 820,
        "wires": []
    },
    {
        "id": "9c902cf6b58dc079",
        "type": "mqtt in",
        "z": "339d223dd3f06b96",
        "name": "Call Start",
        "topic": "trunkrecorder/status/call_start",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "85cdec81b5aa80f0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 780,
        "wires": [
            [
                "0d6d0bb7607bd759"
            ]
        ]
    },
    {
        "id": "7c65a46f8b06e374",
        "type": "mqtt in",
        "z": "339d223dd3f06b96",
        "name": "",
        "topic": "trunkrecorder/unit/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "85cdec81b5aa80f0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "98f31d183607cb3d",
                "6574885cee8ae9c8"
            ]
        ]
    },
    {
        "id": "b461ef98d2382bd1",
        "type": "debug",
        "z": "339d223dd3f06b96",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "eff5c5955cfe9b27",
        "type": "file",
        "z": "339d223dd3f06b96",
        "name": "",
        "filename": "/app/unitfiles/unitlogs.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 870,
        "y": 160,
        "wires": [
            [
                "f477059d1aecf40a"
            ]
        ]
    },
    {
        "id": "9ea9ace76c62bd58",
        "type": "change",
        "z": "339d223dd3f06b96",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.end",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 140,
        "wires": [
            [
                "eff5c5955cfe9b27",
                "b461ef98d2382bd1",
                "9d6f91112d423598"
            ]
        ]
    },
    {
        "id": "98f31d183607cb3d",
        "type": "switch",
        "z": "339d223dd3f06b96",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "end",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "call",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "9ea9ace76c62bd58",
                "759d7306b54897a9"
            ],
            [
                "2b55bbc22f1100fc",
                "ace17cefed9c2819"
            ]
        ]
    },
    {
        "id": "2b55bbc22f1100fc",
        "type": "change",
        "z": "339d223dd3f06b96",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.call",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 180,
        "wires": [
            [
                "eff5c5955cfe9b27",
                "717633646cfb60bb"
            ]
        ]
    },
    {
        "id": "759d7306b54897a9",
        "type": "debug",
        "z": "339d223dd3f06b96",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 100,
        "wires": []
    },
    {
        "id": "ace17cefed9c2819",
        "type": "debug",
        "z": "339d223dd3f06b96",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 220,
        "wires": []
    },
    {
        "id": "717633646cfb60bb",
        "type": "debug",
        "z": "339d223dd3f06b96",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 220,
        "wires": []
    },
    {
        "id": "f477059d1aecf40a",
        "type": "debug",
        "z": "339d223dd3f06b96",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 160,
        "wires": []
    },
    {
        "id": "6574885cee8ae9c8",
        "type": "debug",
        "z": "339d223dd3f06b96",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 100,
        "wires": []
    },
    {
        "id": "460d5cd393022d89",
        "type": "sqlite",
        "z": "339d223dd3f06b96",
        "mydb": "850761b4eea228c1",
        "sqlquery": "prepared",
        "sql": "INSERT INTO unitdata (\nsys_num, sys_name, unit, unit_alpha_tag,\ntalkgroup, talkgroup_alpha_tag, talkgroup_description, talkgroup_group,\ntalkgroup_tag, talkgroup_patches,  call_num, freq, position, length,\nemergency, encrypted, start_time, stop_time, error_count, spike_count,\nsample_count, transmission_filename\n)\nVALUES ($sys_num, $sys_name, $unit, $unit_alpha_tag,\n$talkgroup, $talkgroup_alpha_tag, $talkgroup_description, $talkgroup_group,\n$talkgroup_tag, $talkgroup_patches,  $call_num, $freq, $position, $length,\n$emergency, $encrypted, $start_time, $stop_time, $error_count, $spike_count,\n$sample_count, $transmission_filename)",
        "name": "insert",
        "x": 1090,
        "y": 100,
        "wires": [
            [
                "07883dbaf3ed95dd"
            ]
        ]
    },
    {
        "id": "9d6f91112d423598",
        "type": "change",
        "z": "339d223dd3f06b96",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "params.$sys_num",
                "pt": "msg",
                "to": "payload.sys_num",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$sys_name",
                "pt": "msg",
                "to": "payload.sys_name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$unit",
                "pt": "msg",
                "to": "payload.unit",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$unit_alpha_tag",
                "pt": "msg",
                "to": "payload.unit_alpha_tag",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$talkgroup",
                "pt": "msg",
                "to": "payload.talkgroup",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$talkgroup_alpha_tag",
                "pt": "msg",
                "to": "payload.talkgroup_alpha_tag",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$talkgroup_description",
                "pt": "msg",
                "to": "payload.talkgroup_description",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$talkgroup_group",
                "pt": "msg",
                "to": "payload.talkgroup_group",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$talkgroup_tag",
                "pt": "msg",
                "to": "payload.talkgroup_tag",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$talkgroup_patches",
                "pt": "msg",
                "to": "payload.talkgroup_patches",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$call_num",
                "pt": "msg",
                "to": "payload.call_num",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$freq",
                "pt": "msg",
                "to": "payload.freq",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$position",
                "pt": "msg",
                "to": "payload.position",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$length",
                "pt": "msg",
                "to": "payload.length",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$emergency",
                "pt": "msg",
                "to": "payload.emergency",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$encrypted",
                "pt": "msg",
                "to": "payload.encrypted",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$start_time",
                "pt": "msg",
                "to": "payload.start_time",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$stop_time",
                "pt": "msg",
                "to": "payload.stop_time",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$error_count",
                "pt": "msg",
                "to": "payload.error_count",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$spike_count",
                "pt": "msg",
                "to": "payload.spike_count",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$sample_count",
                "pt": "msg",
                "to": "payload.sample_count",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$transmission_filename",
                "pt": "msg",
                "to": "payload.transmission_filename",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 120,
        "wires": [
            [
                "460d5cd393022d89",
                "be646a79568595bc"
            ]
        ]
    },
    {
        "id": "be646a79568595bc",
        "type": "debug",
        "z": "339d223dd3f06b96",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 40,
        "wires": []
    },
    {
        "id": "07883dbaf3ed95dd",
        "type": "sqlite",
        "z": "339d223dd3f06b96",
        "mydb": "850761b4eea228c1",
        "sqlquery": "fixed",
        "sql": "SELECT COUNT(*) AS UnitCount FROM UnitData;",
        "name": "",
        "x": 1260,
        "y": 100,
        "wires": [
            [
                "06e448bc31cf4f02"
            ]
        ]
    },
    {
        "id": "06e448bc31cf4f02",
        "type": "debug",
        "z": "339d223dd3f06b96",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload[0].UnitCount",
        "statusType": "msg",
        "x": 1460,
        "y": 100,
        "wires": []
    },
    {
        "id": "36165a965273f414",
        "type": "join",
        "z": "0da004d3b02fc52a",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "3",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "e724958d804c0df8",
                "a2fa0a16267ee49d"
            ]
        ]
    },
    {
        "id": "8f3e7d830c57b049",
        "type": "link in",
        "z": "0da004d3b02fc52a",
        "name": "Call Data In",
        "links": [
            "c6f6af57627c70a9"
        ],
        "x": 155,
        "y": 120,
        "wires": [
            [
                "36165a965273f414",
                "6dbe3b27758dce81"
            ]
        ]
    },
    {
        "id": "d83283b014682dbe",
        "type": "link in",
        "z": "0da004d3b02fc52a",
        "name": "Tone Data In",
        "links": [
            "3a2945a20aad22ad"
        ],
        "x": 155,
        "y": 80,
        "wires": [
            [
                "36165a965273f414",
                "2b67830d0abab559"
            ]
        ]
    },
    {
        "id": "76c479678fb9ddba",
        "type": "debug",
        "z": "0da004d3b02fc52a",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 40,
        "wires": []
    },
    {
        "id": "e724958d804c0df8",
        "type": "change",
        "z": "0da004d3b02fc52a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.call_data.tones",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "move",
                "p": "payload.files.dtmf",
                "pt": "msg",
                "to": "payload.call_data.tones.dtmf",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.files.hi_low",
                "pt": "msg",
                "to": "payload.call_data.tones.hi_low",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.files.long",
                "pt": "msg",
                "to": "payload.call_data.tones.long",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.files.quick_call",
                "pt": "msg",
                "to": "payload.call_data.tones.quick_call",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload.files",
                "pt": "msg"
            },
            {
                "t": "move",
                "p": "payload.call_data",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 100,
        "wires": [
            [
                "76c479678fb9ddba",
                "64d5d7cd7e8005bd"
            ]
        ]
    },
    {
        "id": "a2fa0a16267ee49d",
        "type": "debug",
        "z": "0da004d3b02fc52a",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 40,
        "wires": []
    },
    {
        "id": "7bf340fbf65e465b",
        "type": "file",
        "z": "0da004d3b02fc52a",
        "name": "",
        "filename": "/app/logs/Calls.log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 890,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "2b67830d0abab559",
        "type": "debug",
        "z": "0da004d3b02fc52a",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 40,
        "wires": []
    },
    {
        "id": "6dbe3b27758dce81",
        "type": "debug",
        "z": "0da004d3b02fc52a",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 160,
        "wires": []
    },
    {
        "id": "64d5d7cd7e8005bd",
        "type": "switch",
        "z": "0da004d3b02fc52a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "id",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 100,
        "wires": [
            [
                "7bf340fbf65e465b",
                "754c91b9d3ad065c"
            ],
            [
                "aaab98736a37fb37"
            ]
        ]
    },
    {
        "id": "aaab98736a37fb37",
        "type": "debug",
        "z": "0da004d3b02fc52a",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 140,
        "wires": []
    },
    {
        "id": "79134278d91d6e9a",
        "type": "mqtt out",
        "z": "0da004d3b02fc52a",
        "name": "",
        "topic": "transcribe/todo",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "85cdec81b5aa80f0",
        "x": 1220,
        "y": 40,
        "wires": []
    },
    {
        "id": "0b8adc6c6428a9c4",
        "type": "mqtt in",
        "z": "0da004d3b02fc52a",
        "name": "",
        "topic": "transcribe/done/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "85cdec81b5aa80f0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 320,
        "wires": [
            [
                "cc4ffd52b0bb1212",
                "2ded182da3999d7d",
                "2247a8a535ac8199"
            ]
        ]
    },
    {
        "id": "cc4ffd52b0bb1212",
        "type": "debug",
        "z": "0da004d3b02fc52a",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 320,
        "wires": []
    },
    {
        "id": "cc284d3c41d7e75a",
        "type": "debug",
        "z": "0da004d3b02fc52a",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 120,
        "wires": []
    },
    {
        "id": "2247a8a535ac8199",
        "type": "switch",
        "z": "0da004d3b02fc52a",
        "name": "",
        "property": "payload.tonecount",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 400,
        "wires": [
            [
                "87f772649bcbe86c"
            ],
            [
                "5ee85acd5f5d8092"
            ]
        ]
    },
    {
        "id": "18485060217f9c5c",
        "type": "debug",
        "z": "0da004d3b02fc52a",
        "name": "debug 24",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 440,
        "wires": []
    },
    {
        "id": "87f772649bcbe86c",
        "type": "function",
        "z": "0da004d3b02fc52a",
        "name": "format email",
        "func": "msg.topic = \"Tones Detected - [\" + msg.payload.talkgroup_alpha_tag + \"]\";\nmsg.from = \"geometrix@gmail.com\";\n\n\nvar message = [];\n\nmessage.push(\"Tones Detected for \");\nmessage.push(msg.payload.talkgroup_alpha_tag);\n\nmessage.push(\"\\n\\n\");\nmessage.push(\"Tones: \\n\\nQUICK CALL:\");\nmessage.push(JSON.stringify(msg.payload.tones.quick_call));\nmessage.push(\"\\n\\nLONG: \");\nmessage.push(JSON.stringify(msg.payload.tones.long));\nmessage.push(\"\\n\\nHI LOW: \");\nmessage.push(JSON.stringify(msg.payload.tones.hi_low));\nmessage.push(\"\\n\\nDTMF: \");\nmessage.push(JSON.stringify(msg.payload.tones.dtmf));\nmessage.push(\"\\n\\n\");\nmessage.push(msg.payload.transcript[0])\nmsg.payload = message.join(\"\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 400,
        "wires": [
            [
                "910ed3d2075f9408"
            ]
        ]
    },
    {
        "id": "5ee85acd5f5d8092",
        "type": "function",
        "z": "0da004d3b02fc52a",
        "name": "format email",
        "func": "msg.topic = \"Tones Detected - [\" + msg.payload.talkgroup_alpha_tag + \"]\";\nmsg.from = \"geometrix@gmail.com\";\n\n\nvar message = [];\n\nmessage.push(\"Tones Detected for \");\nmessage.push(msg.payload.talkgroup_alpha_tag);\n\nmessage.push(\"\\n\\n\");\nmessage.push(\"Tones: \\n\\nQUICK CALL:\");\nmessage.push(JSON.stringify(msg.payload.tones.quick_call));\nmessage.push(\"\\n\\nLONG: \");\nmessage.push(JSON.stringify(msg.payload.tones.long));\nmessage.push(\"\\n\\nHI LOW: \");\nmessage.push(JSON.stringify(msg.payload.tones.hi_low));\nmessage.push(\"\\n\\nDTMF: \");\nmessage.push(JSON.stringify(msg.payload.tones.dtmf));\nmessage.push(\"\\n\\n\");\nmessage.push(msg.payload.transcript[0])\nmsg.payload = message.join(\"\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 440,
        "wires": [
            [
                "18485060217f9c5c"
            ]
        ]
    },
    {
        "id": "910ed3d2075f9408",
        "type": "e-mail",
        "z": "0da004d3b02fc52a",
        "server": "email-smtp.us-east-1.amazonaws.com",
        "port": "587",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": false,
        "tls": false,
        "name": "geometrix@gmail.com",
        "dname": "EmailMe",
        "x": 1000,
        "y": 400,
        "wires": []
    },
    {
        "id": "2ded182da3999d7d",
        "type": "file",
        "z": "0da004d3b02fc52a",
        "name": "",
        "filename": "/app/logs/Callstranscribed.log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 570,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "754c91b9d3ad065c",
        "type": "function",
        "z": "0da004d3b02fc52a",
        "name": "Check for tones",
        "func": "var dots = context.get(\"dots\", \"memoryOnly\") || \"ring\";\ndots = (dots == \"ring\") ? \"dot\" : \"ring\"\ncontext.set(\"dots\", dots, \"memoryOnly\")\n\nvar tonecount = 0\n\nif (msg.payload.tones.quick_call !== undefined && msg.payload.tones.hi_low !== undefined && msg.payload.tones.long !== undefined){\n    tonecount = msg.payload.tones.quick_call.length + msg.payload.tones.hi_low.length + msg.payload.tones.long.length;\n}\n\n\nnode.status({ fill: \"red\", shape: dots, text: tonecount});\nif (tonecount >= 1){\n    node.status({ fill: \"green\", shape: dots, text: tonecount });\n}\nmsg.payload.tonecount = tonecount;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 40,
        "wires": [
            [
                "177aa3f832e8a42a"
            ]
        ]
    },
    {
        "id": "177aa3f832e8a42a",
        "type": "switch",
        "z": "0da004d3b02fc52a",
        "name": "",
        "property": "payload.tonecount",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1030,
        "y": 40,
        "wires": [
            [
                "79134278d91d6e9a"
            ],
            [
                "cc284d3c41d7e75a"
            ]
        ]
    },
    {
        "id": "14a9170f864c715a",
        "type": "link in",
        "z": "b1bc9b62280884fb",
        "name": "link in 1",
        "links": [
            "3a2945a20aad22ad"
        ],
        "x": 135,
        "y": 100,
        "wires": [
            [
                "4e6be94183dca0c7"
            ]
        ]
    },
    {
        "id": "4e6be94183dca0c7",
        "type": "function",
        "z": "b1bc9b62280884fb",
        "name": "Check for tones",
        "func": "var dots = context.get(\"dots\", \"memoryOnly\") || \"ring\";\ndots = (dots == \"ring\") ? \"dot\" : \"ring\"\ncontext.set(\"dots\", dots, \"memoryOnly\")\n\nvar tonecount = 0\n\nif (msg.payload.quick_call !== undefined && msg.payload.hi_low !== undefined && msg.payload.long !== undefined){\n    tonecount = msg.payload.quick_call.length + msg.payload.hi_low.length + msg.payload.long.length;\n}\n\n\nnode.status({ fill: \"red\", shape: dots, text: tonecount});\nif (tonecount >= 1){\n    node.status({ fill: \"green\", shape: dots, text: tonecount });\n}\nmsg.payload.tonecount = tonecount;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 100,
        "wires": [
            [
                "d5ada4e1138f4e8d",
                "a39968580711d7d2"
            ]
        ]
    },
    {
        "id": "1f5e15ded75d8dab",
        "type": "debug",
        "z": "b1bc9b62280884fb",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 140,
        "wires": []
    },
    {
        "id": "d5ada4e1138f4e8d",
        "type": "switch",
        "z": "b1bc9b62280884fb",
        "name": "",
        "property": "payload.tonecount",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 460,
        "y": 100,
        "wires": [
            [
                "d1e5e6b30c5451c3"
            ],
            [
                "9b42865c8796de6b"
            ]
        ]
    },
    {
        "id": "680177b4db881a4e",
        "type": "debug",
        "z": "b1bc9b62280884fb",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 180,
        "wires": []
    },
    {
        "id": "a39968580711d7d2",
        "type": "debug",
        "z": "b1bc9b62280884fb",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "d1e5e6b30c5451c3",
        "type": "function",
        "z": "b1bc9b62280884fb",
        "name": "format email",
        "func": "msg.topic = \"Tones Detected - [\" + msg.payload.talkgroup_alpha_tag + \"]\";\nmsg.from = \"geometrix@gmail.com\";\n\n\nvar message = [];\n\nmessage.push(\"Tones Detected for \");\nmessage.push(msg.payload.talkgroup_alpha_tag);\n\nmessage.push(\"\\n\\n\");\nmessage.push(\"Tones: \\n\\nQUICK CALL:\");\nmessage.push(JSON.stringify(msg.payload.quick_call));\nmessage.push(\"\\n\\nLONG: \");\nmessage.push(JSON.stringify(msg.payload.long));\nmessage.push(\"\\n\\nHI LOW: \");\nmessage.push(JSON.stringify(msg.payload.hi_low));\nmessage.push(\"\\n\\nDTMF: \");\nmessage.push(JSON.stringify(msg.payload.dtmf));\nmessage.push(\"\\n\\n\");\nmsg.payload = message.join(\"\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 100,
        "wires": [
            [
                "70b90011e894763a",
                "1f5e15ded75d8dab"
            ]
        ]
    },
    {
        "id": "9b42865c8796de6b",
        "type": "function",
        "z": "b1bc9b62280884fb",
        "name": "format email",
        "func": "msg.topic = \"Tones Detected - [\" + msg.payload.talkgroup_alpha_tag + \"]\";\nmsg.from = \"geometrix@gmail.com\";\n\n  \nvar message = [];\n\nmessage.push(\"Tones Detected for \");\nmessage.push(msg.payload.talkgroup_alpha_tag);\n\nmessage.push(\"\\n\\n\");\nmessage.push(\"Tones: \\n\\nQUICK CALL:\");\nmessage.push(JSON.stringify(msg.payload.quick_call));\nmessage.push(\"\\n\\nLONG: \");\nmessage.push(JSON.stringify(msg.payload.long));\nmessage.push(\"\\n\\nHI LOW: \");\nmessage.push(JSON.stringify(msg.payload.hi_low));\nmessage.push(\"\\n\\nDTMF: \");\nmessage.push(JSON.stringify(msg.payload.dtmf));\nmessage.push(\"\\n\\n\");\nmsg.payload=message.join(\"\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 140,
        "wires": [
            [
                "680177b4db881a4e"
            ]
        ]
    },
    {
        "id": "70b90011e894763a",
        "type": "e-mail",
        "z": "b1bc9b62280884fb",
        "server": "email-smtp.us-east-1.amazonaws.com",
        "port": "587",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": false,
        "tls": false,
        "name": "geometrix@gmail.com",
        "dname": "EmailMe",
        "x": 950,
        "y": 100,
        "wires": []
    }
]